Repository open-formulieren/open-forms, pull requests merged in 2025-02, with the labels that each got.

#5053 Add metadata to data being sent to API endpoint in json dump registration backend
  src/openforms/authentication/static_variables/static_variables.py
  src/openforms/forms/json_schema.py
  src/openforms/js/compiled-lang/en.json
  src/openforms/js/compiled-lang/nl.json
  src/openforms/js/components/admin/form_design/RegistrationFields.stories.js
  src/openforms/js/components/admin/form_design/registrations/json_dump/JSONDumpOptionsForm.js
  src/openforms/js/components/admin/form_design/registrations/json_dump/JSONDumpSummaryHandler.js
  src/openforms/js/components/admin/form_design/registrations/json_dump/JSONDumpVariableConfigurationEditor.js
  src/openforms/js/components/admin/form_design/registrations/json_dump/constants.js
  src/openforms/js/components/admin/form_design/registrations/json_dump/fields/MetadataVariables.js
  src/openforms/js/components/admin/form_design/registrations/json_dump/fields/Path.js
  src/openforms/js/components/admin/form_design/registrations/json_dump/fields/ServiceSelect.js
  src/openforms/js/components/admin/form_design/registrations/json_dump/fields/Variables.js
  src/openforms/js/components/admin/form_design/registrations/json_dump/fields/index.js
  src/openforms/js/components/admin/form_design/variables/VariablesEditor.stories.js
  src/openforms/js/components/admin/form_design/variables/utils.js
  src/openforms/js/lang/en.json
  src/openforms/js/lang/nl.json
  src/openforms/registrations/contrib/json_dump/config.py
  src/openforms/registrations/contrib/json_dump/plugin.py
  src/openforms/registrations/contrib/json_dump/registration_variables.py
  src/openforms/registrations/contrib/json_dump/tests/files/vcr_cassettes/JSONDumpBackendTests/JSONDumpBackendTests.test_exception_raised_when_service_returns_unexpected_status_code.yaml
  src/openforms/registrations/contrib/json_dump/tests/files/vcr_cassettes/JSONDumpBackendTests/JSONDumpBackendTests.test_metadata.yaml
  src/openforms/registrations/contrib/json_dump/tests/files/vcr_cassettes/JSONDumpBackendTests/JSONDumpBackendTests.test_multiple_file_uploads.yaml
  src/openforms/registrations/contrib/json_dump/tests/files/vcr_cassettes/JSONDumpBackendTests/JSONDumpBackendTests.test_nested_component_key.yaml
  src/openforms/registrations/contrib/json_dump/tests/files/vcr_cassettes/JSONDumpBackendTests/JSONDumpBackendTests.test_no_file_upload_for_multiple_files_component.yaml
  src/openforms/registrations/contrib/json_dump/tests/files/vcr_cassettes/JSONDumpBackendTests/JSONDumpBackendTests.test_no_file_upload_for_single_file_component.yaml
  src/openforms/registrations/contrib/json_dump/tests/files/vcr_cassettes/JSONDumpBackendTests/JSONDumpBackendTests.test_one_file_upload_for_multiple_files_component.yaml
  src/openforms/registrations/contrib/json_dump/tests/files/vcr_cassettes/JSONDumpBackendTests/JSONDumpBackendTests.test_radio_component_with_form_variable_as_data_source.yaml
  src/openforms/registrations/contrib/json_dump/tests/files/vcr_cassettes/JSONDumpBackendTests/JSONDumpBackendTests.test_radio_component_with_manual_data_source.yaml
  src/openforms/registrations/contrib/json_dump/tests/files/vcr_cassettes/JSONDumpBackendTests/JSONDumpBackendTests.test_select_boxes_component_with_form_variable_as_data_source.yaml
  src/openforms/registrations/contrib/json_dump/tests/files/vcr_cassettes/JSONDumpBackendTests/JSONDumpBackendTests.test_select_boxes_schema_required_is_empty_when_no_data_is_submitted.yaml
  src/openforms/registrations/contrib/json_dump/tests/files/vcr_cassettes/JSONDumpBackendTests/JSONDumpBackendTests.test_select_component_with_form_variable_as_data_source.yaml
  src/openforms/registrations/contrib/json_dump/tests/files/vcr_cassettes/JSONDumpBackendTests/JSONDumpBackendTests.test_select_component_with_manual_data_source.yaml
  src/openforms/registrations/contrib/json_dump/tests/files/vcr_cassettes/JSONDumpBackendTests/JSONDumpBackendTests.test_submission_happy_flow.yaml
  src/openforms/registrations/contrib/json_dump/tests/test_backend.py
  src/openforms/registrations/contrib/json_dump/tests/test_config.py
  src/openforms/registrations/contrib/json_dump/tests/test_registration_variables.py
Labels: enhancement, topic: registration, owner: venlo

#5081 Process edit grid components in the json dump registration backend
  src/openforms/registrations/contrib/json_dump/plugin.py
  src/openforms/registrations/contrib/json_dump/tests/files/vcr_cassettes/JSONDumpBackendTests/JSONDumpBackendTests.test_components_with_form_variable_as_data_source_in_edit_grid_component.yaml
  src/openforms/registrations/contrib/json_dump/tests/files/vcr_cassettes/JSONDumpBackendTests/JSONDumpBackendTests.test_file_in_edit_grid_component.yaml
  src/openforms/registrations/contrib/json_dump/tests/test_backend.py
Labels: topic: registration, owner: venlo

#5091 Fix bug with collapsed metadata fieldset being hidden in JSON dump plugin
  src/openforms/js/components/admin/form_design/registrations/json_dump/JSONDumpOptionsForm.js
  src/openforms/scss/components/admin/_fieldset.scss
  src/openforms/scss/components/admin/_index.scss
Labels: topic: registration, owner: venlo

#5070 Add button to quickly include all form variables in JSON dump plugin
  docs/developers/frontend/admin-styling.rst
  docs/developers/frontend/index.rst
  src/openforms/js/compiled-lang/en.json
  src/openforms/js/compiled-lang/nl.json
  src/openforms/js/components/admin/form_design/RegistrationFields.stories.js
  src/openforms/js/components/admin/form_design/registrations/json_dump/fields/Variables.js
  src/openforms/js/lang/en.json
  src/openforms/js/lang/nl.json
  src/openforms/scss/components/admin/_index.scss
  src/openforms/scss/components/admin/_json-dump-variables.scss
Labels: topic: registration, owner: venlo

#5109 Add documentation for JSON dump registration plugin
  docs/configuration/registration/index.rst
  docs/configuration/registration/json-dump.rst
Labels: documentation, topic: registration, owner: venlo

#5113 Change when plugin fieldset is hidden in registration variables table
  src/openforms/js/components/admin/form_design/variables/RegistrationVariables.js
  src/openforms/js/components/admin/form_design/variables/VariablesEditor.stories.js
Labels: topic: admin, owner: dimpact

#5118 Optimize formio data access
  src/openforms/formio/datastructures.py
Labels: needs-backport, topic: performance

#5116 [#5090] Make `softRequiredErrors` component always non required
  src/openforms/js/components/formio_builder/WebformBuilder.js
Labels: needs-backport

#5098 [#5039] Fix email registration errors
  src/openforms/js/components/admin/form_design/RegistrationFields.stories.js
  src/openforms/js/components/admin/form_design/registrations/email/EmailOptionsFormFields.js
Labels: needs-backport
